<ion-view view-title="about us">
  <ion-content class="padding about">
    <div class="logo">
       <img  src="img/logo.png"/>
    </div>
 <p>
 We at
<strong>Eon Travel and Tours</strong> take pride of being the government’s partner in promoting tourism, boosting it to a higher
level in the Visayas area. For more than 12 years now, the company has been bringing people to the beautiful sights in the
country and the world.

 </p>

<p>We make planning your trips hassle-free by offering the following services:</p>
<ul>
<li>Low rates in local and international tour packages;</li>

<li>Customized inbound and outbound tour packages to suit your travel plans and budget;</li>
<li>Book tickets in all domestic airlines (Cebu Pacific, Tiger Airways and PAL);</li>
<li>Book international flight tickets; • Hotel-only bookings with prices lower than the popular booking site in the web;</li>
<li>Personalized VISA documentation assistance;</li>
<li>Corporate, educational and employee travel incentives</li>


<p>Cruise MAKE MEMORIES with Eon Travel and Tours because we believe that every travel is a MEMORY WORTH KEEPING.</p>








</ul>


  </ion-content>
</ion-view>
