<ion-view view-title="Contact us">
  <ion-content class="contact_us">
    <div class="contact_info padding">
            <h3 class="sec_color">We will get back to you within 24 hours</h3>
            <p><span class="bg_color"><i class="ion-email"></i></span>contact@example.com</p> 
            <p><span class="bg_color"><i class="ion-ios-telephone"></i></span>+91 999 777323</p> 
            <p class="link"><span class="bg_color"><i class="ion-social-twitter"></i></span>twitteraccount</p> 
            <p  class="link"><span class="bg_color"><i class="ion-social-facebook"></i></span>facebookaccount</p> 
    </div>  
     <form class="app_form padding">
        <div class="list list-inset">
            <label class="item item-input user_name">
                <i class="icon ion-person placeholder-icon main_color"></i>
                <input type="text" placeholder="Your name">
            </label>
            <label class="item item-input">
                <i class="icon ion-email placeholder-icon main_color"></i>
                <input type="email" placeholder="Email">
            </label>
             <label class="item item-input txt_area">
                <i class="icon ion-edit placeholder-icon main_color"></i>
                 <textarea rows="4" type="text" placeholder="Your message"></textarea>
            </label>
        </div>
        <button class="button button-block bg_color">Submit</button>  
    </form>    
  </ion-content>
</ion-view>
