<ion-view view-title="home">
  <ion-content class="det_list">
      <ion-list>
          <ion-item href="#/app/detail" ng-repeat="item in home_list">
            <h3>Travel Location 1</h3>
            <div class="item_img" style="background:url({{item.img}})no-repeat;">
            </div>
            <div class="item_detail">
                <h3 class="main_color">KOALA RESORT</h3>
                <div class="rating">
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                    <i class="ion-star"></i>
                </div>
                <p class="date">Av 20 November 300, Australia</p>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live</p>
                <p class="price main_color">Price per night from <span class="sec_color">$99</span></p>
            </div>
          </ion-item>
      </ion-list>

  </ion-content>
</ion-view>
