<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
     <ion-nav-bar class="bar-stable bg_color">
      <ion-nav-back-button class="button button-icon button-clear back_btn">
          <i class="ion-android-arrow-back"></i>
        </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button style="display:block" class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
<ion-side-menu side="left" width="220">
   <ion-header-bar class="bar-stable menu_head">
        <div class="profile_img main_color"><img src="img/profile.png"/></div>
        <h3>John Robertson</h3>
        <p>Los Angeles</p>
        <a href="#/login" class="log_out bg_color"><i class="ion-log-out"></i></a>
   </ion-header-bar>
   <ion-content class="menu_app padding">
        <ion-list>
        <ion-item menu-close href="#/app/home" ng-click="activeItemMenu(1)" ng-class="{main_color: activeMenu==1}" >
          Home
        </ion-item>
         <ion-item menu-close  href="#/app/offer" ng-click="activeItemMenu(2)" ng-class="{main_color: activeMenu==2}" >
          Offers
        </ion-item>
        <ion-item menu-close  href="#/app/home" ng-click="activeItemMenu(3)" ng-class="{main_color: activeMenu==3}">
          Wishlist
        </ion-item>
        <ion-item menu-close  href="#/app/about" ng-click="activeItemMenu(5)" ng-class="{main_color: activeMenu==5}">
          About Us
        </ion-item>
        <ion-item menu-close href="#/app/services" ng-click="activeItemMenu(6)" ng-class="{main_color: activeMenu==6}">
 Services
        </ion-item>
        <ion-item menu-close href="#/app/contact" ng-click="activeItemMenu(7)" ng-class="{main_color: activeMenu==7}">
          Contact Us
        </ion-item>
        </ion-list>
   </ion-content>
 </ion-side-menu>
</ion-side-menus>

