<ion-content class="padding register_page">
    <form class="app_form">
      <h3 class="main_color">-  Register  -</h3>
      <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-person placeholder-icon main_color"></i>
            <input type="text" placeholder="Username">
          </label>
          <label class="item item-input">
            <i class="icon ion-unlocked placeholder-icon main_color"></i>
            <input type="password" placeholder="Password">
          </label>
           <label class="item item-input">
            <i class="icon ion-unlocked placeholder-icon main_color"></i>
            <input type="password" placeholder="Retype Password">
          </label>
          <label class="item item-input">
            <i class="icon ion-android-call  placeholder-icon main_color"></i>
            <input type="tel" placeholder="Phone">
          </label>
          <label class="item item-input">
            <i class="icon ion-email  placeholder-icon main_color"></i>
            <input type="email" placeholder="Email">
          </label>
      </div>
      <a href="#/app/home" class="button button-block bg_color">
         Register
      </a>
      <a href="#/login" class="button button-block sec_bg">
         Back
      </a>
    </form>
</ion-content>
