<ion-view view-title="reservation">
  <ion-content class="padding">
     <form class="reservation_form app_form">
        <h3 class="sec_color">Arrival/Depature:</h3> 
        <div class="list">
            <label class="item item-input">
                 <input  placeholder="Arrival date" type="text" onfocus="(this.type='date')"  id="date">
            </label>
            <label class="item item-input">
                 <input  placeholder="Depature date" type="text"  onfocus="(this.type='date')"  id="date">
            </label>
            <p>(0)Nigths</p>
        </div>
         <h3 class="sec_color">Occupation:</h3> 
        <div class="list">
            <label class="item item-input item-select">
                <select>
                    <option>Rooms</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <select>
                    <option>Adults</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </label>
              <label class="item item-input item-select">
                <select>
                    <option>Kids</option>
                    <option>1</option>
                    <option>2</option>
                </select>
            </label>
            <p>0 Rooms, 0 Adults, 0 Kids</p>
        </div> 
        <h3 class="sec_color">Personal Information:</h3> 
        <div class="list">
            <label class="item item-input">
                 <input type="text" placeholder="First Name">
            </label>
            <label class="item item-input">
                 <input type="text"  placeholder="Last Name">
            </label>
            <label class="item item-input">
                 <input type="tel" placeholder="Phone">
            </label>
            <label class="item item-input">
                 <input type="email"  placeholder="Email">
            </label>
             <label class="item item-input txt_area">
                 <textarea rows="4" type="text"  placeholder="Speacial requirments"></textarea>
            </label>
        </div> 
        
        <button class="button button-block bg_color">Confirm</button> 
         
     </form>
  </ion-content>
</ion-view>
