<ion-view view-title="about us">
    <ion-content class="padding about">
        <div class="logo">
            <img src="img/logo.png" />
        </div>

         <p>Ticketing Services Going out of town? We can assist you with booking the best tickets for the best price.</p>

         <p>International Ticketing To make your travel easier, we accept bookings and ticketing for all major airlines around the world.</p>

        <p>Domestic Ticketing You may also book your domestic trips with us. We book and ticket for all domestic airlines on book and
        buy basis.</p>

        <ul>
            <li>Visa Processing</li>
            <li>Japan</li>
            <li>China</li>
            <li>USA</li>
            <li>Australia</li>
            <li>Canada</li>
            <li>Taiwan</li>
            <li>Korea</li>
            <li>New Zealand</li>
            <li>Other Countries</li>
        </ul>
    </ion-content>
</ion-view>